# APIKey
YANDEX_MAP_API_KEY = "yandex_map_api_key"

# MinioClient
MINIO_SECRET_KEY = "minio_secret_key"
MINIO_ACCESS_KEY = "minio_access_key"

#ReCaptcha #sitekey
RECAPTCH_SITE_KEY = "recaptcha_site_key"

#sitekey
CAPTCHA_SITE_KEY = "captcha_site_key"

SSO_TEST_ACCESS_TOKEN = "sso_test_access_token"
SSO_TEST_REFRESH_TOKEN = "sso_test_refresh_token"

MOBILE_URL = "mobile_url"
MOBILE2_URL = "mobile_url"
NODE_EXTRA_CA_CERTS = "-----BEGIN CERTIFICATE-----    ......     -----END CERTIFICATE-----"

# Data for tests
SSO_TEST_ACCESS_TOKEN = "sso_test_access_token"
SSO_TEST_REFRESH_TOKEN = "sso_test_refresh_token"
RECAPTCHA_TEST_TOKEN = "recaptcha_test_token"
CLIENT_OS_TEST_REFRESH_TOKEN = "client_os_refresh_token"
