.calculator .text-black {
  color: #000;
}

.calculator .text-lightblack {
  color: #535353;
}

.calculator .text-gray {
  color: #9b9b9b;
}

menu {
  margin: 0;
  padding: 0;
}

.calculator .logo:hover {
  text-decoration: none;
  border: 0;
}

.calculator a.border-green {
  border-bottom: 1px solid #01803f;
}

.calculator .lk_btn {
  border-radius: 6px;
  padding: 0 50px;
  white-space: nowrap;
  box-sizing: border-box;
  transition: 0.3s;
  line-height: 50px;
}

.calculator .lh-48 {
  line-height: 48px;
}

.calculator .lh-46 {
  line-height: 46px;
}

.calculator .lh-60 {
  line-height: 60px;
}

.calculator .lh-50 {
  line-height: 50px;
}

.calculator .lk_btn-green {
  background-color: #00984a;
  border: 0;
  color: #fff;
}

.calculator .lk_btn-green:hover {
  background: #1eb869;
  box-shadow: 0 4px 17px rgba(0, 185, 90, 0.5);
}

.calculator .lk_btn-green:focus {
  background: #00984a;
  border: 1px solid #01803f;
  border-radius: 6px;
}

.calculator .lk_btn-white {
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  color: #00984a;
}

.calculator .lk_btn-white:focus,
.calculator .lk_btn-white:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.calculator .lk_btn-dark {
  border: 0;
  color: #fff;
  background: #424242;
}

.calculator .lk_btn-dark,
.calculator .lk_btn-dark:hover {
  box-shadow: 4px 7px 14px hsla(0, 0%, 47.8%, 0.39);
}

.calculator .lk_btn-dark:hover {
  background: #6d6d6d;
}

.calculator .lk_btn-transparent {
  border: 1px solid #00984a;
  box-shadow: 4px 7px 14px rgba(7, 160, 82, 0.39);
  color: #00984a;
  background: transparent;
}

.calculator .lk_btn-transparent:hover {
  color: #fff;
  background: #00984a;
}

.calculator .font-weight-mbold {
  font-weight: 600;
}

.calculator .f-w-e-b {
  font-weight: 800;
}

.calculator .dark {
  color: #282828;
}

.calculator .dark-link,
.calculator .dark-link:hover {
  color: #262626;
  text-decoration: none;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
  position: relative;
}

.calculator .dark-link:after {
  width: 0;
  transition: 0.3s;
  position: absolute;
  height: 1px;
  text-decoration: none;
  content: "";
  top: 100%;
  left: 0;
  background-color: #00984a;
}

.calculator .dark-link:hover:after {
  width: 100%;
  transition: 0.3s;
}

.calculator .fsz-16 {
  font-size: 0.8rem;
}

.calculator .fsz-17 {
  font-size: 0.85rem;
}

.calculator .fsz-18 {
  font-size: 0.9rem;
}

.calculator .fsz-21 {
  font-size: 1.05rem;
}

.calculator .fsz-22 {
  font-size: 1.1rem;
}

.calculator .fsz-24 {
  font-size: 1.2rem;
}

.calculator .fsz-32 {
  font-size: 1.6rem;
}

.calculator .small-menu {
  font-size: 1.05rem;
  color: #d7d7d7;
}

.calculator .breadcrumbs {
  font-size: 0.9rem;
  color: #555;
}

.calculator .lnh-32 {
  line-height: 32px;
}

.calculator a,
.calculator a:hover {
  text-decoration: none;
}

.calculator .small-menu a {
  color: #d7d7d7;
}

.calculator .small-menu a.active {
  color: #262323;
}

.calculator .small-menu .vert-sep {
  padding: 0 26px;
  width: 1px;
  position: relative;
}

.calculator .breadcrumbs a {
  color: #555;
  text-decoration: underline;
  transition: 0.3s;
}

.calculator .breadcrumbs a:hover {
  color: #000;
  transition: 0.3s;
}

.calculator .breadcrumbs a.active {
  text-decoration: none;
  pointer-events: none;
}

.calculator .breadcrumbs .vert-sep {
  padding: 0 13px;
  width: 1px;
  position: relative;
}

.calculator .breadcrumbs .vert-sep:after,
.calculator .breadcrumbs .vert-sep:before,
.calculator .small-menu .vert-sep:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 1px;
  background-color: #a7a7a7;
  top: 4px;
  transform: rotate(25deg);
}

.calculator .breadcrumbs .vert-sep:after {
  left: 40%;
}

.calculator .breadcrumbs .vert-sep:before {
  left: 65%;
}

.calculator h1 {
  font-size: 43px;
  line-height: 60px;
}

.calculator h1,
.calculator h2 {
  font-weight: 700;
  letter-spacing: -1px;
  color: #009448;
}

.calculator h2 {
  font-size: 36px;
  line-height: 52px;
}

.calculator .mt-50 {
  margin-top: 50px;
}

.calculator {
  position: relative;
}

.calculator .calculator-bg-bg {
  top: -221px;
  right: -184px;
  height: 641px;
  z-index: 0;
  background: url(./img/bg-telo.gif) 0 0 no-repeat;
}

.calculator .calculator-bg-bg,
.calculator .calculator-ppl-bg {
  position: absolute;
  content: "";
  width: 643px;
}

.calculator .calculator-ppl-bg {
  top: -83px;
  right: -273px;
  z-index: 2;
  height: 517px;
  background: url(./img/telo.png) 0 0 no-repeat;
}

.calculator .block-calc {
  background: #fff;
  border: 1px solid rgba(7, 160, 82, 0.6);
  box-shadow: 2px 4px 6px hsla(0, 0%, 50.6%, 0.25);
  border-radius: 9px;
  width: 100%;
  min-height: 200px;
  position: relative;
  z-index: 1;
  padding: 20px 24px;
}

.calculator .block-calc:before {
  content: "";
  position: absolute;
  top: 74px;
  left: 0;
  background: #f8f8f8;
  background: linear-gradient(180deg, #f8f8f8, #fafafa 10%, #fdfdfd);
  height: calc(100% - 84px);
  width: 100%;
  z-index: -1;
}

.calculator .calc-title {
  line-height: 25px;
  font-size: 21px;
  font-weight: 700;
}

.calculator .calc-description {
  font-style: normal;
  font-size: 19px;
  line-height: 20px;
  color: #000;
  padding: 0 0 15px;
}

.calculator .calculator .calc-action-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.calculator .calc-action {
  background: #f6f6f6;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 6px 25px;
  margin-top: 13px;
  max-width: 700px;
}

.calculator .calc-select-label {
  font-family: Open Sans;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  max-width: 700px;
  color: #555;
}

.calculator .select-finish-items,
.calculator .select-items {
  display: block;
  margin: 0 0 6px 0;
  padding: 0;
}

.calculator .select-finish-items {
  margin-bottom: 16px;
  max-width: 700px;
  margin-top: -10px;
}

.calculator .select-items li {
  list-style: none;
  background-color: #fff;
  border-radius: 6px;
  padding: 4px 13px;
  font-size: 14px;
  line-height: 24px;
  color: #007f3e;
  margin-right: 10px;
  white-space: nowrap;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
}

.calculator .select-finish-items li:last-of-type,
.calculator .select-items li:last-of-type {
  margin-right: 0;
}

.calculator .select-finish-items li {
  list-style: none;
  background-color: #fff;
  border-radius: 6px;
  padding: 5px 51px 5px 20px;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: rgba(38, 38, 38, 0.7);
  margin-right: 20px;
  white-space: nowrap;
  display: inline-block;
  margin-top: 15px;
  position: relative;
}

.calculator .select-finish-items-del {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 12px;
  height: 12px;
  border: 0;
  background-color: #fff;
  transform: translateY(-50%);
}

.calculator .select-finish-items-del:before {
  content: "+";
  transform: rotate(45deg);
  font-size: 23px;
  color: rgba(38, 38, 38, 0.7);
  position: absolute;
  top: -3px;
  left: 4px;
  width: 10px;
  height: 10px;
}

.calculator .bg-first {
  padding-bottom: 67px;
  background: linear-gradient(0deg, #e6edea, hsla(0, 0%, 96.5%, 0));
}

.calculator .offers_list_new li,
.calculator .offers_list li {
  width: 280px;
  padding: 15px 5px 15px 15px;
}

.calculator .offers_list_new li img,
.calculator .offers_list li img {
  margin: 32px 0;
  width: 90px;
  height: 90px;
  border: 20px solid #def0e7;
  border-radius: 18px;
  background: #def0e7;
}

.calculator .offers_list_new li .row.align-items-center,
.calculator .offers_list li .row.align-items-center {
  height: 58px;
  margin-bottom: 10px;
}

.calculator .offers_list_new li:hover,
.calculator .offers_list li:hover {
  background-color: #fff;
  box-shadow: 0 4px 13px hsla(0, 0%, 56.9%, 0.2);
  border-radius: 10px;
  transition: 0.5s;
}

.calculator .offers_list,
.calculator .offers_list_new {
  margin: 0;
  padding: 0;
}

.calculator .offers_list .slick-list,
.calculator .offers_list_new {
  margin-left: -25px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.calculator .offers-title {
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: #161616;
  text-transform: uppercase;
}

.calculator .offers-description {
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: #162646;
}

.calculator .baner {
  background: #ebf0ee;
  border-radius: 12px;
  padding: 32px 0;
}

.calculator .baner-title {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.085em;
  color: #000;
}

.calculator footer {
  background-color: #fff;
  padding: 47px 0;
}

.calculator footer a,
.calculator footer a:hover {
  text-decoration: none;
}

.calculator .next,
.calculator .prev {
  background: url(/WarAgentResoRu/resources/images/newClientResoRu/arrow-next.svg) 0 0 no-repeat;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.calculator .prev {
  transform: translateY(-50%) rotate(180deg);
  left: -85px;
}

.calculator .next {
  transform: translateY(-50%);
  right: -70px;
}

.calculator .next.slick-disabled,
.calculator .prev.slick-disabled {
  display: none !important;
}

.calculator .baner-landing {
  background: #f2f2f2;
  border-radius: 6px;
  padding: 25px;
}

.calculator .baner-landing img {
  margin: 0 40px 0 60px;
}

.calculator .landing-slogan {
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 3px;
}

.calculator .landing-question {
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.calculator .price-content {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #717171;
}

.calculator .finish-price .h1 {
  font-size: 44px;
  font-weight: 600;
  color: #006400;
}

.calculator .finish-price,
.calculator .finish-price .h1 {
  line-height: 24px;
  text-transform: uppercase;
}

.calculator .finish-price {
  font-size: 36px;
  color: #979797;
  max-width: 750px;
}

.calculator .finish-price-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 16px;
  text-transform: uppercase;
  color: #006400;
}

.calculator .finish-price-action {
  max-width: 700px;
}

.calculator .finish-price-action ul {
  margin: 0;
  padding: 0;
}

.calculator .finish-price-action li {
  list-style: none;
}

.calculator .finish-price-action li img {
  position: absolute;
  top: 7px;
  left: 0;
  max-height: 29px;
}

.calculator .finish-price-action li a {
  font-weight: 600;
  padding-left: 40px;
  font-size: 0.95rem;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #262626;
  position: relative;
  display: block;
}

.calculator .finish-price-action li a:hover {
  color: #006400;
  transition: 0.3s;
}

.calculator .calc-phone-block a {
  text-transform: uppercase;
  border-bottom: 1px solid #00984a;
  margin-left: 10px;
}

.calculator .calc-phone-block .input-phone {
  border: 1px solid #00984a;
  box-sizing: border-box;
  box-shadow: 0 0 6px rgba(7, 114, 59, 0.5);
  border-radius: 6px;
  font-size: 18px;
  line-height: 50px;
  color: #262626;
  height: 50px;
  margin-right: 33px;
  padding: 0 20px;
}

.calculator .calc-phone-block .error-phone {
  font-size: 0.8rem;
  color: red;
  display: none;
}

.calculator .select-block-accordion {
  width: 300px;
}

.calculator .select-block-accordion .input-label {
  cursor: pointer;
  position: relative;
}

.calculator .select-block-accordion .input-label,
.calculator .select-block-accordion input {
  width: 300px;
  padding: 10px 70px 10px 15px;
  line-height: 30px;
  font-size: 0.9rem;
  color: #262626;
  background: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #dfdfe2;
  box-sizing: border-box;
  border-radius: 6px;
}

.calculator .select-block-accordion.empty-text .input-label,
.calculator .select-block-accordion.empty-text input {
  color: rgba(38, 38, 38, 0.5);
}

.calculator .select-block-accordion input {
  display: none;
}

.calculator .select-block-accordion input:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.calculator .sba-data-block {
  margin-top: -1px;
  display: none;
  max-height: 300px;
  position: relative;
}

.calculator .sba-data-block ul {
  border: 1px solid #dfdfe2;
  border-top: 0;
  margin: 0;
  padding: 0;
  background: hsla(0, 0%, 100%, 0.7);
}

.calculator .sba-data-block li {
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  line-height: 30px;
  font-size: 0.9rem;
  color: #262626;
  cursor: pointer;
}

.calculator .sba-data-block li:hover {
  background-color: rgba(99, 99, 99, 0.1);
}

.calculator .select-block-accordion.is-active .input-label,
.calculator .select-block-accordion input:not(:focus) {
  display: none;
}

.calculator .select-block-accordion.is-active .sba-data-block,
.calculator .select-block-accordion.is-active input {
  display: block;
}

.calculator .input-label.have-arrow:after {
  position: absolute;
  border-top: 2px solid rgba(38, 38, 38, 0.5);
  border-left: 2px solid rgba(38, 38, 38, 0.5);
  width: 8px;
  height: 8px;
  transform: translateY(-50%) rotate(-135deg);
  content: "";
  right: 30px;
  top: 50%;
}

.calculator .calc-action .next-button {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #018b44;
  padding-right: 35px;
  margin-left: 29px;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

.calculator .calc-action .next-button:hover {
  border-bottom: 1px solid #018b44;
  transition: 0.3s;
}

.calculator .calc-action .next-button:after,
.calculator .calc-action .next-button:before {
  position: absolute;
  border-top: 2px solid #018b44;
  border-left: 2px solid #018b44;
  width: 11px;
  height: 11px;
  transform: translateY(-50%) rotate(135deg);
  content: "";
  right: 5px;
  top: 50%;
}

.calculator .calc-action .next-button:before {
  right: 15px;
}

.calculator .lk_login-user {
  font-size: 1rem;
  text-align: right;
  position: relative;
  min-height: 30px;
}

.calculator .lk_username {
  text-align: left;
  display: inline-block;
  padding-right: 45px;
  color: #000;
}

.calculator .lk_username:hover {
  color: #000;
  text-decoration: underline;
}

.calculator input.lk_logoute {
  position: absolute;
  background: url(/WarAgentResoRu/resources/images/newClientResoRu/logoff.svg) 0 0 no-repeat;
  width: 34px;
  height: 24px;
  border: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.calculator .login {
  padding-bottom: 200px;
  background: url(/WarAgentResoRu/resources/images/newClientResoRu/login.png) bottom no-repeat;
  margin: 0 auto;
  margin-top: 50px;
}

.calculator .login > * {
  max-width: 490px;
}

.calculator .login-form {
  margin: 0 auto;
  padding: 30px 46px;
  background-color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.8rem;
}

.calculator .login-form .tabs-link > div {
  border-bottom: 1px solid #dedede;
  color: rgba(38, 38, 38, 0.7);
  font-size: 1rem;
}

.calculator .login-form .tabs-link a {
  color: rgba(38, 38, 38, 0.7);
}

.calculator .login-form .tabs-link > div.active {
  border-bottom: 2px solid #07a052;
  font-weight: 800;
  color: #262626;
}

.calculator .login-form {
  color: rgba(38, 38, 38, 0.8);
}

.calculator .login-form input:not(.lk_btn) {
  line-height: 48px;
  background: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 0 10px;
}

.calculator .login-form input:not(.lk_btn):focus {
  border: 1px solid #989898;
  outline-offset: 0;
  outline-width: 0;
}

.calculator .lk_btn-esia {
  border: 1px solid #eee;
  border-radius: 4px;
  position: relative;
  letter-spacing: -0.05px;
  color: #68706c;
  box-sizing: border-box;
  background: #ebf0ee url(/WarAgentResoRu/resources/images/newClientResoRu/esia.svg) 59px 50% no-repeat;
}

.calculator .lk_btn-esia:hover {
  box-shadow: 0 4px 17px hsla(0, 0%, 39.2%, 0.5);
}

.calculator .lk_btn-esia img {
  margin-right: 17px;
}

.calculator .login-form .link-reg {
  color: #535252;
  text-decoration: underline;
  display: block;
  margin: 0 auto;
}

.calculator .see-psw {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: 0;
  padding: 0;
  background-color: transparent;
}

.calculator input[type="password"] {
  padding-right: 40px;
}

.calculator .login .login-error input {
  background: #ffeeef;
  border-color: #ffeeef;
}

.calculator .login-form .login-error-label {
  background: #ffeeef;
  color: #f6474f;
  text-align: center;
  border-radius: 4px;
  width: 100%;
  margin-bottom: -0.5rem;
  line-height: 1.5;
  min-height: 50px;
  padding: 13px 10px 10px;
}

.calculator .faq_accordion:after,
.calculator .faq_accordion:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 10px;
  top: 50%;
  background: #000;
  transform: rotate(45deg);
  right: 4px;
  transition: 0.3s;
}

.calculator .faq_accordion:after {
  right: 10px;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.calculator input[name="faq"]:checked + .faq_accordion:after {
  transform: rotate(-135deg) translateY(4px);
  right: 13px;
  transition: 0.3s;
}

.calculator input[name="faq"]:checked + .faq_accordion:before {
  transform: rotate(135deg) translateY(4px);
  right: 1px;
  transition: 0.3s;
}

.calculator .faq_name {
  font-size: 1.6rem;
  color: #262626;
  font-weight: 700;
  padding-bottom: 10px;
}

.calculator .faq_accordion {
  color: #262626;
  font-weight: 600;
  display: block;
  padding: 20px 0 10px;
  position: relative;
  padding-right: 20px;
  cursor: pointer;
}

.calculator input[name="faq"]:checked .faq_accordion {
  padding: 20px 0 0;
  font-weight: 700;
}

.calculator .faq_description {
  border-bottom: 1px solid #e6e6e6;
  overflow: auto;
  position: relative;
  font-size: 0.9rem;
}

.calculator .faq_description > div {
  margin-top: -100%;
  transition: 0.3s;
  padding-bottom: 30px;
}

.calculator input[name="faq"] {
  display: none;
}

.calculator input[name="faq"]:checked + .faq_accordion + .faq_description > div {
  margin-top: 0;
  transition: 0.3s;
}

.calculator .calc-step-box {
  padding: 9px 9px 9px 9px;
  border-radius: 7px;
  border: 3px solid #006400;
  text-align: center;
  width: 100%;
  display: inLine-block;
  font-weight: 700;
}

.calculator .calc-step-box span {
  font-weight: 600;
}

.calculator .calc-step-box.active {
  background-color: #b9e8b5;
}

.calculator .calc-step-box.future {
  border: 1px solid #add8e6;
}

.calculator .fsz-27 {
  font-size: 1.35rem;
}

.calculator .group {
  position: relative;
  margin-top: 27px;
  margin-bottom: 10px;
}

.calculator .calc-form input[type="password"],
.calculator .calc-form input[type="text"] {
  font-size: 21px;
  font-weight: 600;
  padding: 7px 10px 3px 10px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.calculator .calc-form input[type="password"]:focus,
.calculator .calc-form input[type="text"]:focus {
  outline: none;
  font-size: 21px;
  font-weight: 600;
  padding: 7px 10px 3px 10px;
}

.calculator .calc-form label {
  color: #999;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  left: 25px;
  top: 12px;
  transition: all 0.3s ease;
  -moz-transition: 0.3s ease all;
  -webkit-transition: all 0.3s ease;
}

.calculator .calc-form input[type="password"]:valid ~ label,
.calculator .calc-form input[type="text"]:valid ~ label,
.calculator .calc-form input[type="text"][readonly] ~ label {
  top: -23px;
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.calculator .calc-form input[type="text"][readonly] {
  background-color: #eee;
}

.calculator .calc-form input[type="password"]:focus ~ label,
.calculator .calc-form input[type="text"]:focus ~ label {
  top: -23px;
  font-size: 15px;
  font-weight: 600;
  color: #006400;
}

.calculator .bar {
  position: relative;
  display: block;
}

.calculator .bar:after,
.calculator .bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #006400;
  transition: all 0.3s ease;
  -moz-transition: 0.3s ease all;
  -webkit-transition: all 0.3s ease;
}

.calculator .bar:before {
  left: 50%;
}

.calculator .bar:after {
  right: 50%;
}

.calculator .calc-form input:focus ~ .bar:after,
.calculator .calc-form input:focus ~ .bar:before {
  width: 50%;
}

.calculator .help_item {
  color: grey;
  border-bottom: 1px dotted #00f;
}

.calculator .err_item,
.calculator .help_item {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 14px;
}

.calculator .err_item {
  color: red;
}

.calculator .err_block {
  margin-left: 12px;
  margin-right: 12px;
  color: red;
  font-size: 17px;
}

.calculator .form_block_capt {
  padding: 2px 15px 2px 15px;
  font-size: 27px;
  font-weight: 600;
  background-color: rgba(5, 138, 0, 0.67);
  border-radius: 7px;
}

.calculator .form_block_desc {
  font-size: 19px;
  max-width: 800px;
  padding: 2px 15px 2px 15px;
}

.calculator .form_block_brd {
  padding: 12px 12px 12px 12px;
  border-radius: 9px;
  border: 1px solid #add8e6;
}

.calculator .driver_row:hover {
  background: rgba(212, 245, 225, 0.39);
}

.calculator .lk_btn-h42 {
  line-height: 42px;
  padding: 0 20px;
}

.calculator .green-border {
  padding: 10px 10px 10px 10px;
  border: 2px solid rgba(7, 160, 82, 0.6);
  border-radius: 9px;
  box-shadow: 2px 4px 6px hsla(0, 0%, 50.6%, 0.25);
}

.calculator .blue-border {
  padding: 9px 9px 9px 9px;
  border-radius: 9px;
  border: 1px solid #add8e6;
}
