// Here you can add other styles
body {
    background: linear-gradient(132.21deg, #FFFFFF 1.33%, rgba(243, 247, 244, 0.97) 101.82%);
}

.form-control:disabled {
    background-color: #e8f3f9;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
label,
legend {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7D8B9C;
}

input {
    background: #FDFDFD;
    border-radius: 6px;
    border: none !important;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #202020;
}

.modal-content {
    background: #FFFFFF;
    box-shadow: 0px 13px 20px rgba(8, 68, 17, 0.0864019);
    border-radius: 14px;
    padding: 0 20px;
}

.modal-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #363D44;
}

.modal-content input {
    background: #F5F8F6;
}

.modal-header {
    border-bottom: 1px solid #EFEFEF;
}

.modal-footer {
    border: none;
}

.modal-body .card {
    padding: 0;
    margin: 0;
    border: none;
}

.modal-body .card-body {
    padding: 0;
    margin-top: 1rem;
}

.btn-secondary:not(.link-button,
.link-arrow-right,
.arrow-right-bold,
.notification-close),
.btn-success {
    background: #22A66A;
    box-shadow: 2px 8px 32px rgba(91, 206, 150, 0.35);
    border-radius: 50px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-outline-success {
    border: 1px solid #008B4E;
    border-radius: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #22A66A;
}

.btn-outline-success:hover {
    color: #fff;
}

button+button {
    margin-left: 20px;
}