@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-MediumItalic.eot");
  src: local("/fonts/Roboto Medium Italic"), local("/fonts/Roboto-MediumItalic"),
    get-asset("/fonts/Roboto-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    get-asset("/fonts/Roboto-MediumItalic.woff") format("woff"),
    get-asset("/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-Italic.eot");
  src: local("/fonts/Roboto Italic"), local("/fonts/Roboto-Italic"),
    get-asset("/fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/Roboto-Italic.woff") format("woff"),
    get-asset("/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-Bold.eot");
  src: local("/fonts/Roboto Bold"), local("/fonts/Roboto-Bold"),
    get-asset("/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/Roboto-Bold.woff") format("woff"),
    get-asset("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-Regular.eot");
  src: local("/fonts/Roboto"), local("/fonts/Roboto-Regular"),
    get-asset("/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/Roboto-Regular.woff") format("woff"),
    get-asset("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-Medium.eot");
  src: local("/fonts/Roboto Medium"), local("/fonts/Roboto-Medium"),
    get-asset("/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/Roboto-Medium.woff") format("woff"),
    get-asset("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-BoldItalic.eot");
  src: local("/fonts/Roboto Bold Italic"), local("/fonts/Roboto-BoldItalic"),
    get-asset("/fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/Roboto-BoldItalic.woff") format("woff"),
    get-asset("/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-ThinItalic.eot");
  src: local("/fonts/Roboto Thin Italic"), local("/fonts/Roboto-ThinItalic"),
    get-asset("/fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/Roboto-ThinItalic.woff") format("woff"),
    get-asset("/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-Black.eot");
  src: local("/fonts/Roboto Black"), local("/fonts/Roboto-Black"),
    get-asset("/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/Roboto-Black.woff") format("woff"),
    get-asset("/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-Light.eot");
  src: local("/fonts/Roboto Light"), local("/fonts/Roboto-Light"),
    get-asset("/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/Roboto-Light.woff") format("woff"),
    get-asset("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-LightItalic.eot");
  src: local("/fonts/Roboto Light Italic"), local("/fonts/Roboto-LightItalic"),
    get-asset("/fonts/Roboto-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    get-asset("/fonts/Roboto-LightItalic.woff") format("woff"),
    get-asset("/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-BlackItalic.eot");
  src: local("/fonts/Roboto Black Italic"), local("/fonts/Roboto-BlackItalic"),
    get-asset("/fonts/Roboto-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    get-asset("/fonts/Roboto-BlackItalic.woff") format("woff"),
    get-asset("/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: get-asset("/fonts/Roboto-Thin.eot");
  src: local("/fonts/Roboto Thin"), local("/fonts/Roboto-Thin"),
    get-asset("/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/Roboto-Thin.woff") format("woff"),
    get-asset("/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
