@font-face {
  font-family: "Raleway";
  src: ("/fonts/Raleway-SemiBold.eot");
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"),
    url("/fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Raleway-SemiBold.woff") format("woff"), url("/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.eot");
  src: local("Raleway Bold"), local("Raleway-Bold"), url("/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Raleway-Bold.woff") format("woff"), url("/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"),
    url("/fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SFProDisplay-Regular.woff") format("woff"), url("/fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"),
    url("/fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SFProDisplay-Bold.woff") format("woff"), url("/fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"),
    url("/fonts/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SFProDisplay-Semibold.woff") format("woff"), url("/fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
