// $cdn-url: "https://storage.yandexcloud.net/reso-static";
$cdn-url: "";

@function get-asset($local-path) {
  @return url($cdn-url + $local-path);
}

@font-face {
  font-family: "Raleway";
  src: ("/fonts/Raleway-SemiBold.eot");
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"),
    get-asset("/fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/Raleway-SemiBold.woff") format("woff"),
    get-asset("/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: get-asset("/fonts/Raleway-Bold.eot");
  src: local("Raleway Bold"), local("Raleway-Bold"),
    get-asset("/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/Raleway-Bold.woff") format("woff"),
    get-asset("/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: get-asset("/fonts/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"),
    get-asset("/fonts/SFProDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    get-asset("/fonts/SFProDisplay-Regular.woff") format("woff"),
    get-asset("/fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: get-asset("/fonts/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"),
    get-asset("/fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    get-asset("/fonts/SFProDisplay-Bold.woff") format("woff"),
    get-asset("/fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: get-asset("/fonts/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"),
    get-asset("/fonts/SFProDisplay-Semibold.eot?#iefix")
      format("embedded-opentype"),
    get-asset("/fonts/SFProDisplay-Semibold.woff") format("woff"),
    get-asset("/fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
