html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: #fff;
}
.light-blue {
  color: #2b9cca;
}

main,
header,
footer {
  color: #242424;
}

.clearfix {
  display: table;
  clear: both;
}

.separator32 {
  height: 32px;
  background-color: #ececec;
  width: 1px;
  margin: 0 28px;
}

.icon-right {
  padding-right: 24px;
  background-position: right center;
}

.icon-left {
  padding-left: 24px;
  background-position: left center;
}

.icon-location {
  background-image: url(/img/main/location.svg);
  background-repeat: no-repeat;
}

.icon-search-office {
  background: url(/img/main/search_office.svg) left top no-repeat;
}

.icon-eye {
  background: url(/img/main/eye.svg) left top no-repeat;
}

.icon-arrow-small-down {
  background-image: url(/img/main/arrow-small-down.svg);
  background-repeat: no-repeat;
  background-position: 100% 70%;
}

a.color-green,
.color-green {
  color: #009639;
}

header {
  opacity: 0.8;
  border: 1px solid #e3ebe6;
  box-shadow: 0px 13px 20px rgba(144, 144, 144, 0.13);
  position: relative;
  z-index: 10;
}

.middle_menu {
  position: relative;
}

.middle_menu a {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-right: 31px;
  color: #242424;
  transition: color 0.3s;
}

.middle_menu a:hover {
  color: #43b02a;
  text-decoration: underline;
  transition: color 0.3s;
}

.block-container {
  border: 1px solid #e3eae5;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  padding: 28px 40px 32px;
}

.block-container-big {
  padding: 40px;
}

.block-container-big:hover,
.block-container:hover {
  box-shadow: 0px 13px 40px rgba(144, 144, 144, 0.23);
  transition: 0.3s;
}

.block-container-big .block-title {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.75rem;
  color: #242424;
}

.block-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #242424;
}
.block-container .block-description {
  font-weight: 300;
  line-height: 1.5rem;
}

.block-container-big .block-description {
  color: #474747;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
}

.block-container-big .block-description strong {
  font-weight: 400;
}

.block-container .block-img,
.block-container-big .block-img {
  align-self: center;
}

.block-container {
  display: grid;
  grid-template-rows: minmax(40px, max-content) auto auto 40px;
  grid-template-areas: "title" "description" "img" "button";
  grid-row-gap: 1.25rem;
}

.block-container-center {
  display: grid;
  grid-template-areas: "title" "img" "description" "button";
  grid-template-rows: minmax(40px, max-content) auto auto auto;
  grid-row-gap: 1.25rem;
}

.block-container-big {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "title img" "description img" "button button";
  grid-template-rows: minmax(40px, max-content) auto 40px;
  grid-row-gap: 2rem;
}

.block-container-slider {
  display: grid;
  grid-template-columns: auto 60px;
  grid-template-areas: "title img" "description description" "button button";
  grid-template-rows: minmax(60px, max-content) minmax(60px, max-content) 1rem;
  grid-row-gap: 1rem;
  background-color: #fff;
}

.block-container-four {
  display: grid;
  grid-template-columns: auto 100px;
  grid-template-areas: "title img" "description description" "button button";
  grid-template-rows: minmax(100px, max-content) auto 40px;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  padding: 28px 40px 40px;
}

.block-container-help {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-areas: "img title" "... button";
  grid-template-rows: minmax(60px, max-content) 40px;
  grid-column-gap: 1.1875rem;
  grid-row-gap: 0.5rem;
  padding: 40px 26px;
}

.block-container-help .block-button {
  margin-left: calc(64px + 1rem);
}
.block-container-help .block-description {
  display: none;
}

.block-container-four .block-title {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 400;
  align-self: center;
}

.block-container-four .block-title,
.block-container-slider .block-title,
.block-container-big .block-title {
  grid-area: title;
}

.block-container-help .block-title {
  font-size: 1.5rem;
  font-weight: 400;
  align-self: center;
  line-height: 1.75rem;
}

.block-container-four .block-description {
  font-size: 1rem;
  line-height: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.block-container-four .block-description:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #dee5e0;
  top: 100%;
  left: 0;
}

.block-container-four .block-description span {
  color: #2b9cca;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

.block-container-four .block-description,
.block-container-slider .block-description,
.block-container-big .block-description,
.block-container .block-description {
  grid-area: description;
}

.block-container .block-img,
.block-container-four .block-img,
.block-container-slider .block-img,
.block-container-big .block-img {
  grid-area: img;
  text-align: center;
}

.block-container .block-img img {
  max-width: 100%;
}

.block-container-five .block-button,
.block-container-six .block-button,
.block-container-four .block-button,
.block-container-slider .block-button,
.block-container-big .block-button {
  grid-area: button;
}

.block-container-big .block-button {
  text-align: center;
}

.block-container:not(.block-container-slider) .block-button {
  text-align: center;
}

.block-container:not(.block-container-big):not(.block-container-slider) .block-button a:first-of-type {
  float: left;
}

.block-container:not(.block-container-big) .block-button a:last-of-type {
  float: right;
}

.buy-block {
  background: #009639;
  border-radius: 10px;
  height: 80px;
  position: relative;
  z-index: 1;
}

.mt-1_25 {
  margin-top: 1.25rem;
}

.block-container-slider .block-title {
  padding-right: 20px;
}

.block-container-slider .block-img {
  max-width: 60px;
  max-height: 60px;
  align-self: start;
}

.block-container.block-container-slider {
  padding: 24px;
}

.block-container-slider .block-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.block-container-slider .block-description {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.block-container-slider .block-description span {
  color: #2b9cca;
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: block;
  font-weight: 400;
}

.block-container-help .block-button a,
.block-container-slider .block-button a {
  font-size: 1rem;
  float: none !important;
  height: 1rem;
  line-height: 1rem;
  position: relative;
  padding: 0;
}

.btn_trn {
  background: linear-gradient(360deg, #f8fcf9 -10.05%, #ffffff 100%);
  border: 1px solid #009639;
  box-sizing: border-box;
  border-radius: 6px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 48px;
  text-transform: uppercase;
  color: #009639;
  cursor: pointer;
  padding: 0 30px;
}

.btn-p-sm {
  padding: 0 16px;
}

.btn-p-sm.btn-icon-left {
  padding-left: 42px;
}

.btn-icon-right {
  padding-right: 36px;
}

.block-button a {
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: underline;
  color: #009639;
  position: relative;
  padding-right: 16px;
  line-height: 48px;
  align-self: center;
  display: inline-block;
  white-space: nowrap;
}

.block-container:hover a.pseudo-btn {
  background: #009639;
  box-shadow: 0px 16px 16px -8px rgba(0, 193, 19, 0.3);
  border-radius: 6px;
  height: 48px;
  padding: 0 32px 0 16px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s, box-shadow 0.3s, color 0.3s, padding 0.3s, font-size 0.3s;
  text-transform: uppercase;
  font-size: 0.875rem !important;
  font-weight: 700;
  line-height: 50px;
}

a.icon-arrow-right:after {
  width: 8px;
  height: 8px;
  border-left: 2px solid #009639;
  border-bottom: 2px solid #009639;
  content: "";
  position: absolute;
  top: 22px;
  right: 0;
  transform: rotate(-135deg);
}

.block-container:hover a.pseudo-btn.icon-arrow-right:after {
  right: 16px;
  border-left: 2px solid#fff;
  border-bottom: 2px solid #fff;
  transition: 0.3s;
  top: 20px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat 50%;
  background-size: 100% 100%;
}
h1 {
  font-size: 1.375rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid,
  .navbar-expand-sm > .container-lg,
  .navbar-expand-sm > .container-md,
  .navbar-expand-sm > .container-sm,
  .navbar-expand-sm > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid,
  .navbar-expand-sm > .container-lg,
  .navbar-expand-sm > .container-md,
  .navbar-expand-sm > .container-sm,
  .navbar-expand-sm > .container-xl {
    flex-wrap: nowrap;
  }
  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid,
  .navbar-expand-md > .container-lg,
  .navbar-expand-md > .container-md,
  .navbar-expand-md > .container-sm,
  .navbar-expand-md > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.625rem;
  }
  h2 {
    font-size: 1.375rem;
  }
  h3 {
    font-size: 1.375rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  h5 {
    font-size: 1rem;
  }
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid,
  .navbar-expand-md > .container-lg,
  .navbar-expand-md > .container-md,
  .navbar-expand-md > .container-sm,
  .navbar-expand-md > .container-xl {
    flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-xl {
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid,
  .navbar-expand-xl > .container-lg,
  .navbar-expand-xl > .container-md,
  .navbar-expand-xl > .container-sm,
  .navbar-expand-xl > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
  .navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid,
  .navbar-expand-xl > .container-lg,
  .navbar-expand-xl > .container-md,
  .navbar-expand-xl > .container-sm,
  .navbar-expand-xl > .container-xl {
    flex-wrap: nowrap;
  }
  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid,
.navbar-expand > .container-lg,
.navbar-expand > .container-md,
.navbar-expand > .container-sm,
.navbar-expand > .container-xl {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .navbar-nav {
  flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid,
.navbar-expand > .container-lg,
.navbar-expand > .container-md,
.navbar-expand > .container-sm,
.navbar-expand > .container-xl {
  flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a,
.navbar-light .navbar-text a:focus,
.navbar-light .navbar-text a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: hsla(0, 0%, 100%, 0.5);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: hsla(0, 0%, 100%, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: hsla(0, 0%, 100%, 0.25);
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-dark .navbar-toggler {
  color: hsla(0, 0%, 100%, 0.5);
  border-color: hsla(0, 0%, 100%, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-text {
  color: hsla(0, 0%, 100%, 0.5);
}

.navbar-dark .navbar-text a,
.navbar-dark .navbar-text a:focus,
.navbar-dark .navbar-text a:hover {
  color: #fff;
}

.gotolk:not(.show) {
  position: relative;
}

.gotolk:not(.show):not(.dropdown):before {
  background: url(/img/icon-ppl.svg) 0 0 no-repeat;
  position: absolute;
  content: "";
  top: 15px;
  left: 16px;
  width: 16px;
  height: 16px;
}

.dropdown.gotolk {
  font-size: 1rem;
  display: inline-block;
  list-style: none;
}

.dropdown .dropdown-menu {
  display: none;
}

.dropdown.gotolk:after {
  width: 8px;
  height: 8px;
  border-left: 2px solid #009639;
  border-bottom: 2px solid #009639;
  content: "";
  position: absolute;
  top: 7px;
  right: 5px;
  transform: rotate(-135deg);
  transition: transform 0.3s, top 0.3s;
}

.dropdown.gotolk.show:after {
  transform: rotate(-45deg);
  top: 7px;
  transition: transform 0.3s, top 0.3s;
  right: 5px;
}
.gotolk .ppl-avatar {
  display: none;
}
.dropdown.show .dropdown-menu {
  display: block;
  list-style: none;
  line-height: 1.5rem;
  padding: 1rem 0;
  background: #ffffff;
  border: 1px solid #e3eae5;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px rgba(66, 66, 66, 0.5);
  border-radius: 14px;
  margin-top: 11px;
  min-width: 210px;
}

.dropdown.show .dropdown-menu li a {
  line-height: 2rem;
  padding: 0 26px;
  height: 2rem;
  color: #000;
  display: block;
  font-size: 1rem;
}

.dropdown.show .dropdown-menu li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #2b9cca;
}

.dropdown.show.gotolk .dropdown-menu {
  left: -15px !important;
}

.gotolk a {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.gotolk .ppl-avatar {
  display: none;
}

.breadcrumb {
  padding: 1rem 0;
  color: #a6a6a6;
  font-size: 0.875rem;
  font-weight: 300;
}

.breadcrumb a {
  color: #009639;
}

li.breadcrumb-item {
  list-style: none;
  margin-right: 15px;
  display: inline-block;
  position: relative;
}

li.breadcrumb-item:not(:last-of-type):before {
  content: "";
  position: absolute;
  right: -10px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #a6a6a6;
  border-right: 1px solid #a6a6a6;
  transform: rotate(45deg);
  top: 7px;
}

.block-container.block-container-center .block-title {
  text-align: center;
}

.block-container.block-container-center .block-description {
  text-align: center;
}

.block-container.block-container-center .block-button a {
  float: none !important;
}

.color-white {
  color: #fff;
}

.fsz24 {
  font-size: 1.5rem;
}

.fsz28 {
  font-size: 1.75rem;
}

.buy-block .dpd-link button {
  font-size: 1.5rem;
  color: #fff;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  font-weight: 400;
}

.buy-block .dpd-link button:after {
  content: "";
  border-bottom: 1px dashed #fff;
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
}

.buy-block .dpd-link button:before {
  width: 8px;
  height: 8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: "";
  position: absolute;
  top: 18px;
  right: -15px;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.buy-block .show.dpd-link button:before {
  transform: rotate(135deg);
  top: 22px;
  transition: 0.3s;
}
.btn-large {
  background: linear-gradient(360deg, #f8fcf9 -10.05%, #ffffff 100%);
  border: 1px solid #009639;
  box-sizing: border-box;
  border-radius: 6px;
  height: 48px;
  margin: 0;
  padding: 0 16px 0 16px;
  color: #009639;
  text-decoration: none;
  transition: background 0.3s;
  font-weight: 700;
  font-size: 0.85rem;
  line-height: 3rem;
  text-align: center;
}

.btn-large.btn-arrow-right {
  padding: 0 36px 0 16px;
}

.uppercase {
  text-transform: uppercase;
}

.btn-large.btn-arrow-right:after {
  width: 8px;
  height: 8px;
  border-left: 2px solid #009639;
  border-bottom: 2px solid #009639;
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  transform: rotate(-135deg);
}

button {
  cursor: pointer;
}

.diagramm-img {
  width: 176px;
  height: 182px;
  text-align: center;
  line-height: 176px;
  background: url(/img/main/diagramm-bg.svg);
  font-weight: 200;
  font-size: 1.6875rem;
}

.diagramm-img span {
  color: #2b9cca;
  font-weight: 300;
  font-size: 3.5625rem;
  letter-spacing: -5px;
}

.diagramm-description {
  font-weight: 300;
  margin-top: 0.85rem;
  font-size: 1rem;
}

.diagramm-block {
  width: 176px;
  margin: 0 auto;
}

.fsz40 {
  font-size: 2.5rem;
  line-height: 2.75rem;
}

.fw500 {
  font-weight: 500;
}

.diagramm-line {
  border-bottom: 1px solid #e3eae5;
  height: 1px;
}

.agile__actions {
  display: block;
  position: absolute;
  top: -54px;
  right: 15px;
}

.agile {
  margin-top: 1.5rem;
}

.block-container-slider,
.block-slider {
  height: 100%;
}

.block-container-slider:hover {
  box-shadow: 0px 13px 16px rgba(115, 157, 129, 0.28);
}

.block-button a:hover {
  color: #43b02a;
  transition: 0.3s;
  text-decoration: none;
}

.block-container-help .block-button a:after,
.block-container-help .block-button a:hover:after,
.block-container-slider .block-button a:after,
.block-container-slider .block-button a:hover:after {
  top: 5px;
  right: -10px;
}

.block-container a.icon-arrow-right:hover:after {
  border-left: 2px solid #43b02a;
  border-bottom: 2px solid #43b02a;
}

.slider-arrow-prev,
.slider-arrow-next {
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(132, 174, 146, 0.35);
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 28px;
  cursor: pointer;
  display: inline-block;
}

.slider-arrow-prev + .slider-arrow-next {
  margin-left: 12px;
}

.slider-arrow-next:after,
.slider-arrow-prev:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 8px;
  background: url(/img/main/icon-slider-arrow.svg) 50% 50% no-repeat;
  transform: translate(-50%, -50%);
}

.slider-arrow-next:after {
  transform: translate(-50%, -50%) rotate(180deg);
}
.slider-arrow-prev.disabled,
.slider-arrow-next.disabled {
  opacity: 0.3;
}

.slider-list {
  min-height: 28px;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  line-height: 1;
}

.slider-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #009639;
  transition: 0.3s;
}
.slider-list a:hover {
  text-decoration-line: none;
  color: #43b02a;
  transition: 0.3s;
}

.block-h-line {
  width: 100%;
  height: 1px;
  background-color: #dee5e0;
}

.block-v-line-lg:after {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #dee5e0;
  top: 0;
  left: 100%;
  content: "";
}
/*
footer {
  background: linear-gradient(180deg, #fcfcfc 0%, rgba(255, 255, 255, 0) 100%);
  position: relative;
  font-size: 0.75rem;
  padding: 32px;
}

footer .title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #474747;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

footer .menu-link a {
  text-transform: uppercase;
  text-decoration: none;
  color: #474747;
  padding: 6px 0;
  display: table;
}

footer .menu-link a:hover {
  color: #43B02A;
  text-decoration: underline;
}

footer:before {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0.8;
  border: 1px solid #e3ebe6;
  box-shadow: 0px -13px 20px rgba(144, 144, 144, 0.13);
  top: 0;
  left: 0;
}

.social {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social a {
  width: 40px;
  height: 40px;
}

.footer-fb {
  background: url(/img/main/fb.svg) 0 0 no-repeat;
}

.footer-vk {
  background: url(/img/main/vk.svg) 0 0 no-repeat;
}

.footer-ok {
  background: url(/img/main/ok.svg) 0 0 no-repeat;
}

.footer-in {
  background: url(/img/main/in.svg) 0 0 no-repeat;
}

.footer-tw {
  background: url(/img/main/tw.svg) 0 0 no-repeat;
}

.footer-apple {
  background: url(/img/main/ios.svg) 0 0 no-repeat;
  width: 132px;
  height: 44px;
  display: inline-block;
}

.footer-google {
  background: url(/img/main/google.svg) 0 0 no-repeat;
  width: 144px;
  height: 44px;
  display: inline-block;
}

footer .info {
  color: #6f6f6f;
}

footer .info a {
  color: #aeaeae;
  text-decoration: none;
}

footer .copy {
  color: #aeaeae;
}

footer .copyright {
  color: #6f6f6f;
  font-size: 0.875rem;
  font-weight: 300;
}

footer .copyright a {
  color: #009639;
}
*/
.pseudo-hovered a.pseudo-btn {
  background: #009639;
  box-shadow: 0px 16px 16px -8px rgba(0, 193, 19, 0.3);
  border-radius: 6px;
  height: 48px;
  padding: 0 32px 0 16px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s, box-shadow 0.3s, color 0.3s, padding 0.3s, font-size 0.3s;
  text-transform: uppercase;
  font-size: 0.875rem !important;
  font-weight: 700;
  line-height: 50px;
}
.pseudo-hovered a.pseudo-btn.icon-arrow-right:after {
  right: 16px;
  border-left: 2px solid#fff;
  border-bottom: 2px solid #fff;
  transition: 0.3s;
  top: 20px;
}

.buy-block .dropdown-menu.show[x-placement="bottom-start"] {
  top: -7px !important;
}
.buy-block .dropdown-menu.show[x-placement="top-start"] {
  top: 11px !important;
}

.block-slider {
  padding: 0 15px 40px;
}

.slider-bg {
  background-color: #f5f8f6;
}

button,
.btn {
  outline-color: transparent;
}

.block-button .link-btn {
  background: #009639;
  box-shadow: 0px 16px 16px -8px rgba(0, 193, 19, 0.3);
  border-radius: 6px;
  height: 48px;
  padding: 0 32px 0 16px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s, box-shadow 0.3s, color 0.3s, padding 0.3s;
}
.block-button .link-btn:hover {
  color: #ddd;
}
.block-button .link-btn.icon-arrow-right:after {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  right: 16px;
}
.block-button .link-btn.icon-arrow-right:hover:after {
  border-color: #ddd;
  transition: 0.3s;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.fw-light {
  font-weight: 300;
}

.agile__actions {
  display: table;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translateX(-50%);
}
.agile__dot button {
  background: #dee5e0;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  margin: 5px;
  display: block;
  border: 0;
  padding: 0;
}
.agile__dot.agile__dot--current button {
  background: #009639;
}

h1,
h2 {
  font-weight: 500;
}
h3,
h4 {
  font-weight: 400;
}

.block-container-five {
  display: grid;
  grid-template-columns: auto minmax(100px, max-content);
  grid-template-areas: "title img" "description description" "button button";
  grid-template-rows: minmax(60px, max-content) auto 40px;
  grid-row-gap: 0.5rem;
  padding: 28px 40px 40px;
}
.block-container-five .block-img {
  text-align: right;
}
.block-container-six {
  display: grid;
  grid-template-areas: "title" "description" "button";
  grid-template-rows: auto auto 40px;
  grid-row-gap: 0.5rem;
  padding: 30px 24px;
}
.block-container-six .block-title {
  font-size: 1.5rem;
  color: #2b9cca;
  font-weight: 400;
}
.block-container-six .block-description {
  font-size: 0.875rem;
}
.block-container-six .block-button a {
  font-size: 1rem;
  font-weight: 500;
}

ul.p-0.mx-0 li {
  margin-left: 17px;
}

.bg-help-block {
  background-color: #f5f8f6;
}
.bg-rad {
  background-color: #f5f8f6;
  border-radius: 14px;
}
.bg-help-block .block-container {
  border-color: transparent;
}

.btn-secondary {
  border: 1px solid #009639;
  line-height: 48px;
  border-radius: 6px;
  display: table;
  color: #009639;
  font-weight: 700;
  font-size: 0.875rem;
}
.btn-secondary.arrow-right {
  padding-right: 16px;
}

.btn-secondary.arrow-right i {
  position: absolute;
}
.btn-secondary.arrow-right i:after {
  width: 8px;
  height: 8px;
  border-left: 2px solid #009639;
  border-bottom: 2px solid #009639;
  content: "";
  position: absolute;
  top: 19px;
  right: -13px;
  transform: rotate(-135deg);
}

.agile__slide {
  align-self: flex-start;
}

.social {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social a {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.footer-fb {
  background: url(/img/main/fb.svg) 0 0 no-repeat;
}

.footer-vk {
  background: url(/img/main/vk.svg) 0 0 no-repeat;
}

.footer-ok {
  background: url(/img/main/ok.svg) 0 0 no-repeat;
}

.footer-in {
  background: url(/img/main/in.svg) 0 0 no-repeat;
}

.footer-tw {
  background: url(/img/main/tw.svg) 0 0 no-repeat;
}

.bg-help-block .block-container:hover {
  box-shadow: none;
}

@media (max-width: 1200px) {
  .diagramm-img {
    width: 133px;
    height: 138px;
    background-size: cover;
    line-height: 138px;
    font-size: 1.2875rem;
    margin: 0 auto;
  }
  .diagramm-img span {
    font-size: 2.5rem;
  }
  .middle_menu a {
    font-size: 1.125rem;
  }
  .footer-apple + .footer-google {
    margin-left: 0;
  }
}
@media (max-width: 1023px) {
  .middle_menu a {
    font-size: 1rem;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .block-container-slider {
    grid-template-rows: minmax(60px, max-content) minmax(120px, max-content) 1rem;
  }
  .priduct_link a {
    margin-right: 20px;
  }
  .dropdown.show.gotolk .dropdown-menu {
    transform: translate3d(-50%, 24px, 0px) !important;
  }
  .block-container-big .block-title {
    font-size: 1.625rem;
    line-height: 2rem;
  }

  .block-title {
    font-size: 1.375rem;
    line-height: 1.75rem;
    color: #242424;
  }
  .block-container-six .block-title,
  .block-container-four .block-title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
  .block-container-help .block-title {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .block-container-slider .block-title {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .block-v-line-lg:after {
    display: none;
  }
  .block-v-line-sm:after {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #dee5e0;
    top: 0;
    left: 100%;
    content: "";
  }
  footer {
    padding: 20px 0 0;
  }
  .ppl-info {
    width: 50px;
    position: relative;
  }
  .gorolk a {
    outline-color: transparent;
  }
  .gotolk .ppl-name {
    display: none;
  }
  .gotolk .ppl-avatar {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #8f8f8f;
    transform: translateY(-24px);
    border-radius: 40px;
  }
  .dropdown.gotolk {
    font-size: 1rem;
    display: inline-block;
    list-style: none;
    width: 50px;
    padding: 0;
  }
  .dropdown.gotolk:after {
    display: none;
  }
  .block-container .block-description {
    font-size: 1rem;
  }
  .block-container .block-description h4 {
    font-size: 1rem;
  }
  .block-container .block-button a {
    font-size: 1rem;
  }
  .block-container-help {
    grid-template-columns: 100%;
    grid-template-areas: "img" "title" "button";
    grid-template-rows: 60px auto 30px;
    padding: 20px;
  }
  .block-container-help > div {
    text-align: center;
  }
  .block-container-help .block-button {
    margin: 0 auto;
  }
  .block-container-four {
    grid-template-columns: auto 72px;
    grid-template-rows: minmax(72px, max-content) auto 40px;
    padding: 20px;
  }
  .fsz40 {
    font-size: 1.625rem;
    line-height: 2rem;
  }
  .block-button a {
    font-size: 1rem;
  }
  .block-container-five,
  .block-container {
    padding: 24px;
    grid-row-gap: 0.5rem;
  }
  .block-container-big {
    padding: 24px 24px 10px;
    grid-row-gap: 0.5rem;
  }
}

@media (min-width: 992px) {
  .block-v-line-sm:after {
    display: none;
  }
}
.middle_menu > div .product {
  display: none;
}

@media (max-width: 767px) {
  .block-v-line-sm:after {
    display: none;
  }

  .priduct_link a {
    text-decoration: none;
    color: #474747;
    padding: 6px 0;
    display: table;
  }

  .priduct_link a:hover {
    color: #43b02a;
    text-decoration: underline;
  }

  .menu-link > div > a {
    display: block;
    position: relative;
    font-size: 20px;
    font-weight: 500;
  }
  .menu-link > div.active > a {
    font-weight: 500;
    color: #43b02a;
  }
  .active .product {
    margin-top: 1rem;
  }
  .active .product > a {
    font-size: 16px;
    font-weight: 400;
  }
  .active .priduct_link > a {
    display: inline-block;
    font-weight: 300;
  }

  .menu-link > div {
    padding: 16px 0;
    border-bottom: 1px solid #ececec;
    display: block;
  }

  .menu-link > div > a:hover {
    color: #242424;
    text-decoration: none;
  }

  .menu-link > div > a:after,
  .menu-link > div > a:before {
    content: "";
    background-color: #009639;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    height: 2px;
    width: 10px;
  }
  .menu-link > div > a:before {
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    height: 10px;
    width: 2px;
  }

  .menu-link > div.active > a:before {
    content: "";
    background-color: #009639;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 12px;
  }

  .menu-link > div:not(.active) .product {
    display: none;
  }
  .priduct_link a {
    display: inline-block;
    padding: 0;
    text-transform: none;
  }
  .pn-sm-none .product > a {
    display: none;
  }
  .middle_menu > div > div.active .product {
    display: block;
  }

  .block-container .block-title {
    font-size: 1.25rem;
    text-align: center;
    padding: 0;
  }
  .block-container .block-description {
    text-align: center;
    padding: 0;
    margin-bottom: 0;
  }
  .block-container-four .block-title,
  .block-title,
  .block-container-big .block-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .block-container-help .block-title {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .block-container-slider .block-title {
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: left;
  }
  .block-container-slider .block-description {
    text-align: left;
  }

  .block-container {
    grid-template-rows: auto;
    grid-template-areas: "title" "description" "img" "button";
    grid-row-gap: 0.5rem;
    padding: 20px 16px 10px;
  }

  .block-container-center {
    grid-template-areas: "title" "description" "img" "button";
    grid-template-rows: auto;
    grid-row-gap: 0.5rem;
    padding: 24px 16px 10px;
  }

  .block-container-big {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "title" "description" "img" "button";
    grid-template-rows: auto;
    grid-row-gap: 0.5rem;
    padding: 24px 16px 10px;
  }

  .block-container-slider {
    display: grid;
    grid-template-columns: auto 60px;
    grid-template-areas: "title img" "description description" "button button";
    grid-template-rows: minmax(60px, max-content) minmax(100px, max-content) 1rem;
    grid-row-gap: 1rem;
    background-color: #fff;
    padding: 24px 16px 10px;
  }

  .block-container-four {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "img" "title" "description" "button";
    grid-template-rows: auto;
    grid-row-gap: 0.5rem;
    padding: 24px 16px 10px;
  }

  .block-container-help {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "img" "title" "button";
    grid-template-rows: auto;
    grid-column-gap: 0;
    grid-row-gap: 0.5rem;
    padding: 20px;
  }
  .block-container-help .block-button {
    margin: 0 auto;
  }
  .buy-block {
    height: 75px;
    font-size: 1rem;
    display: block !important;
    margin: 1.25rem -15px 0;
    border-radius: 0;
    padding: 10px 16px;
  }
  .buy-block > div:nth-child(1) {
    font-size: 1rem;
    padding-left: 0 !important;
    display: block;
    width: 100%;
    flex: none;
  }
  .buy-block div.wrapper {
    display: block;
    width: 100%;
    flex: none;
    position: relative;
    padding: 0 !important;
  }
  .buy-block div.wrapper > div:nth-child(2) {
    display: block;
    position: absolute;
    right: -15px;
    top: -20px;
  }
  .buy-block div.wrapper > div:nth-child(2) a {
    font-size: 0.75rem;
  }

  .buy-block .dropdown button {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
  }
  .buy-block .dpd-link button:before {
    top: 2px;
  }
  .buy-block .dpd-link button:after {
    top: 18px;
  }
  .buy-block .show.dpd-link button:before {
    top: 6px;
  }

  .dropdown.show.gotolk .dropdown-menu {
    transform: translate3d(-70%, 24px, 0px) !important;
  }
  .main_page .buy-block .dropdown-menu.show[x-placement="bottom-start"] {
    top: 3px !important;
  }
  .main_page .buy-block .dropdown-menu.show[x-placement="top-start"] {
    top: -8px !important;
  }

  a.pseudo-btn {
    background: #009639;
    box-shadow: 0px 16px 16px -8px rgba(0, 193, 19, 0.3);
    border-radius: 6px;
    height: 48px;
    padding: 0 32px 0 16px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s, box-shadow 0.3s, color 0.3s, padding 0.3s, font-size 0.3s;
    text-transform: uppercase;
    font-size: 0.875rem !important;
    font-weight: 700;
    line-height: 50px;
  }
  a.pseudo-btn.icon-arrow-right:after {
    right: 16px;
    border-left: 2px solid#fff;
    border-bottom: 2px solid #fff;
    transition: 0.3s;
    top: 20px;
  }
  .block-container-five,
  .block-container-six {
    padding: 20px;
  }
  footer {
    padding: 20px 0 0;
  }

  .fsz40 {
    font-size: 1.475rem;
    line-height: 1.75rem;
  }
  .fsz40.fw500 {
    font-weight: 400;
  }
  .block-container-five {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "title" "img" "description" "button";
    grid-template-rows: auto auto auto 40px;
    grid-row-gap: 0.5rem;
    padding: 24px;
  }
  .block-container-five .block-img {
    text-align: center;
  }
  .btn-center a {
    float: none !important;
  }
  .slick-slide:not(.slick-active) .diagramm-img,
  .slick-slide:not(.slick-active) .diagramm-img span,
  .slick-slide:not(.slick-active) .diagramm-discription {
    color: transparent !important;
  }
}
@media (max-width: 540px) {
  .main_page .buy-block .dropdown-menu.show {
    width: 100%;
  }
}

.btn-w100 a {
  width: 100%;
}
.btn-w100 a.icon-arrow-right:after {
  right: auto !important;
  margin-left: 6px;
}
.slick-dots li button:before {
  display: none;
}
.slick-dots li button {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #dee5e0;
  box-sizing: border-box;
  padding: 0;
}
.slick-dots li.slick-active button {
  background: #36ab4d;
}
.slick-dots li {
  width: 5px;
  height: 5px;
  margin: 0 4px;
}

.slick-dots {
  bottom: -35px;
}

.buy-block .dropdown-toggle::after {
  border-top: 0;
  border-right: 0;
  margin-left: -3px;
}

.gotolk .dropdown-toggle::after {
  display: none;
}

.block-registration {
  background: #ffffff;
  border: 1px solid #787878;
  box-sizing: border-box;
  border-radius: 6px;
}
.block-registration input {
  height: 42px;
  box-sizing: border-box;
}
.block-registration legend {
  font-size: 1rem;
}
.block-registration input,
.block-registration legend {
  color: #000000;
}
.block-registration .form-control:-internal-autofill-selected,
.block-registration input:-internal-autofill-selected,
.block-registration .form-control:valid,
.block-registration input:valid {
  background-color: #fff !important;
}
.block-registration .form-control:focus,
.block-registration input:focus {
  outline: none;
  box-shadow: none;
  border-color: #000;
  transition: 0.3s;
}
.login-form .nav.nav-tabs {
  border: 0;
}
.login-form .nav.nav-tabs a {
  font-weight: 500;
  font-size: 2rem;
  font-family: "Roboto";
}
.login-form .nav-tabs .nav-link {
  color: #000;
}

.login-form .nav-tabs .nav-link.active:after,
.login-form .nav-tabs .navbar .active.dropdown-toggle:after,
.login-form .navbar .nav-tabs .active.dropdown-toggle:after {
  height: 3px;
  background: rgb(0, 140, 60);
  background: linear-gradient(90deg, rgba(0, 140, 60, 0) 0%, rgba(0, 140, 60, 1) 50%, rgba(0, 140, 60, 0) 100%);
}

.login-form .btn-sms {
  border: 0;
  padding: 1px 10px;
}
.login-form .form-group > div {
  width: 100%;
  display: block;
}

.login-form .form-inline .form-control,
.login-form .form-row {
  width: 100% !important;
  margin: 0 !important;
  display: block !important;
}
